main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav {
	display: flex;
	justify-content: space-around;
	font-size: 2vh;
}

a {
	text-decoration: none;
}

.form-control {
	font-size: 3vh;
	height: auto !important;
}

img {
	width: 95%;
	margin: auto;
}

#alt-text {
	width: 95%;
	margin: auto;
	text-align: center;
	display: none;
}

.active {
	color: red !important;
}

#flex-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media (max-width: 414px) {
	#alt-text {
		display: block;
	}
}